PRISMA_ENDPOINT=""
PRISMA_SECRET=""
JWT_SECRET=""
COD4_SERVER_IP="127.0.0.1"
COD4_SERVER_PORT="28960"
COD4_RCON=""
FRONTEND_URL="http://localhost:3000"
SSL="false"
SERVER_KEY_PATH=""
SERVER_CERT_PATH=""
HOSTNAME="localhost"
PORT="4000"
SSH_SERVER=""
SSH_PORT="22"
SSH_USER=""
SSH_PASSWORD=""
SQLITEDB_FROM_PATH="/path/to/file/database.sqlite3"
SQLITEDB_TO_PATH="C:\path\to\local\sqlitedb\database.sqlite3"
UPDATE_DB_INTERVAL="21600000"